<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Learn About Me</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Learn About Me</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/projects/new">Add new project</a></li>
            <li><a href="/competitions/new">Add New Competition</a></li>
            <li><a href="/users/login">Log in</a></li>
            <li><a href="/users/signup">Sign up</a></li>
            <li><a href="/users/logout">Log out</a></li>
        </ul>
    </div>
</div>
<div class="container">