<% include _header %>
<h1>Log in</h1>
<form enctype="multipart/form-data" action="/project/addNewProject" method="post">

    <input name="userId" type="text" class="form-control"
           placeholder="userId">

    <input name="competitionId" type="text" class="form-control"
           placeholder="competitionId">

    <input name="groupId" type="text" class="form-control"
           placeholder="groupId">

    <input name="name" type="text" class="form-control"
           placeholder="name">

    <input name="descriptionFull" type="text" class="form-control"
           placeholder="descriptionFull">

    <input name="descriptionShort" type="text" class="form-control"
           placeholder="descriptionShort">

    <input name="upload_file" type="file" class="form-control"
           placeholder="file" multiple>

    <input type="submit" value="send" class="btn btn-primary btn-block">

</form>
<% include _footer %>